@use '../../../variables.scss' as var;

#avatar.mat-form-field {
  width: 30%;
  align-self: flex-end;
  margin-right: 25%;
}

.avatar-selection {
  display: flex;
  align-items: center;
  padding: 10px;

  .avatar-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: white;
    border: 2px solid white;
  }
}

.selected-icon {
  position: absolute;
  left: -150px;
  top: -20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  border: 7px solid white;
  box-shadow: -3px -3px 5px var.$color-grey-dark inset;
}

table {
  width: 100%;
  margin: 3em 0;

  th {
    background-color: var.$color-prim-dark;
    font-weight: bold;
    color: white !important;
  }

  th.action,
  td.action {
    text-align: right;
    width: 50px;
    &mat-icon {
      padding: 5px;
    }
  }

  td.action mat-icon {
    &:hover {
      color: var.$color-prim-reg;
      cursor: pointer;
    }
  }

  tr {
    &:hover {
      background-color: var.$color-accent-reg;
    }
    &:hover > * {
      color: var.$color-grey-dark;
    }
  }
}
