<div class="dev-console">
  <div class="dev-nav" (click)="devShow=!devShow">
    <b>dev console</b>
    <span *ngIf="devShow" class="dev-switch" title="reduce" >--</span>
    <span *ngIf="!devShow" class="dev-switch" title="expand" >+</span>
  </div>
  <pre *ngIf="devShow">
    {{devWatch | json}}
  </pre>
</div>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="isSmall ? 'dialog' : 'navigation'"
      [mode]="isSmall ? 'over' : 'side'"
      [opened]="isSmall === false">
    <mat-toolbar></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="admin" class="menu-low">Admin</a>
      <a mat-list-item routerLink="bio">Bio</a>
      <a mat-list-item routerLink="soft">Soft skills</a>
      <a mat-list-item routerLink="hard">Hard skills</a>
      <a mat-list-item routerLink="objectifs">Objectifs</a>
      <a mat-list-item routerLink="contact">Contact</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isSmall">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Thomas RANQUE - développeur front-end</span>
    </mat-toolbar>
    <!-- content place -->
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
