/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

// grid for section menu
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

// mat-card global css
mat-card {
  .card-avatar {
    background-size: cover;
  }
}

@media screen and (max-width: 1600px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
