/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

// grid for section menu
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

// forms
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 3em;
  mat-form-field,
  mat-radio-group,
  button {
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding: .2em;
    margin: .2em;
  }
  button {
    margin-top: 4em !important;
    // padding: .5em 0;
    :hover {
      cursor: pointer;
    }
  }
}

// mat-card global css
mat-card {
  .card-avatar {
    background-size: cover;
  }
}

@media screen and (max-width: 1600px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
